In [1]:
import pandas as pd # importa a biblioteca pandas

In [2]:
Dicionario_01={
    'nome':["Alice, ","Julia","Bruna","Daniel","Filipe","Silvio"],
    'Idade':[19,22,28,34,28,48],
    'profissoes':["Direito","Engenharia","Enfermagem","Engenharia Civil","Cientista da computação","Engenheiro Eletronico"],
    'ID':[1,2,3,4,5,6]
}

In [3]:
Dicionario_01 = pd.DataFrame(Dicionario_01)

In [4]:
Dicionario_01.head()

      nome  Idade               profissoes  ID
0  Alice,      19                  Direito   1
1    Julia     22               Engenharia   2
2    Bruna     28               Enfermagem   3
3   Daniel     34         Engenharia Civil   4
4   Filipe     28  Cientista da computação   5