In [18]:
#import pip install pandas 

import pandas as pd #Import pandas

In [14]:
pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [27]:
Dicionario ={
    "A":[1,2,3,4,5,6,7],
    "B":[8,9,10,11,12,13,14],
    "C":[15,16,17,18,19,20,21,]
}
Labels= ["1ªLinha","2ªLinha", "3ª Linha","4ªLinha","5ªLinha",
         "6ªLinha","7ªLinha"]

In [28]:
df = pd.DataFrame(Dicionario,index=Labels) #Aqui cria o dicionario

In [29]:
df.head()

          A   B   C
1ªLinha   1   8  15
2ªLinha   2   9  16
3ª Linha  3  10  17
4ªLinha   4  11  18
5ªLinha   5  12  19

In [30]:
df.head(2)

         A  B   C
1ªLinha  1  8  15
2ªLinha  2  9  16

In [31]:
df.tail #Exibe as ultimas linhas do dataframe

<bound method NDFrame.tail of           A   B   C
1ªLinha   1   8  15
2ªLinha   2   9  16
3ª Linha  3  10  17
4ªLinha   4  11  18
5ªLinha   5  12  19
6ªLinha   6  13  20
7ªLinha   7  14  21>