In [59]:
#import pip install pandas 

import pandas as pd #Import pandas

In [60]:
pip install pandas

Requirement already satisfied: pandas in c:\python312\lib\site-packages (2.2.2)
Requirement already satisfied: numpy>=1.26.0 in c:\python312\lib\site-packages (from pandas) (1.26.2)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\dsadm\appdata\roaming\python\python312\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\python312\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\dsadm\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.2
[notice] To update, run: python.exe -m pip install --upgrade pip

In [61]:
Dicionario ={
    "A":[1,2,3,4,5,6,7],
    "B":[8,9,10,11,12,13,14],
    "C":[15,16,17,18,19,20,21,]
}
Labels= ["1ªLinha","2ªLinha", "3ªLinha","4ªLinha","5ªLinha",
         "6ªLinha","7ªLinha"]

In [62]:
df = pd.DataFrame(Dicionario,index=Labels) #Aqui cria o dicionario

In [63]:
df.head()

         A   B   C
1ªLinha  1   8  15
2ªLinha  2   9  16
3ªLinha  3  10  17
4ªLinha  4  11  18
5ªLinha  5  12  19

In [64]:
df.head(2)

         A  B   C
1ªLinha  1  8  15
2ªLinha  2  9  16

In [65]:
df.tail #Exibe as ultimas linhas do dataframe

<bound method NDFrame.tail of          A   B   C
1ªLinha  1   8  15
2ªLinha  2   9  16
3ªLinha  3  10  17
4ªLinha  4  11  18
5ªLinha  5  12  19
6ªLinha  6  13  20
7ªLinha  7  14  21>

In [66]:
df['D'] = df['C']*df['A']

In [67]:
df.head()

         A   B   C   D
1ªLinha  1   8  15  15
2ªLinha  2   9  16  32
3ªLinha  3  10  17  51
4ªLinha  4  11  18  72
5ªLinha  5  12  19  95

In [68]:
df.drop('D',axis=1) # exclui a coluna D; axi

         A   B   C
1ªLinha  1   8  15
2ªLinha  2   9  16
3ªLinha  3  10  17
4ªLinha  4  11  18
5ªLinha  5  12  19
6ªLinha  6  13  20
7ªLinha  7  14  21

In [69]:
df.head()

         A   B   C   D
1ªLinha  1   8  15  15
2ªLinha  2   9  16  32
3ªLinha  3  10  17  51
4ªLinha  4  11  18  72
5ªLinha  5  12  19  95

In [70]:
df.drop('D',axis=1, inplace=True)# exclui totalmente do dataframe a coluna

In [71]:
df.head(7)

         A   B   C
1ªLinha  1   8  15
2ªLinha  2   9  16
3ªLinha  3  10  17
4ªLinha  4  11  18
5ªLinha  5  12  19
6ªLinha  6  13  20
7ªLinha  7  14  21

In [72]:
df.head(7)

         A   B   C
1ªLinha  1   8  15
2ªLinha  2   9  16
3ªLinha  3  10  17
4ªLinha  4  11  18
5ªLinha  5  12  19
6ªLinha  6  13  20
7ªLinha  7  14  21

In [73]:
df.iloc[2:5]

         A   B   C
3ªLinha  3  10  17
4ªLinha  4  11  18
5ªLinha  5  12  19

In [74]:
df.iloc[2:5,:1]

         A
3ªLinha  3
4ªLinha  4
5ªLinha  5

In [75]:
df.iloc[2:5,:2]

         A   B
3ªLinha  3  10
4ªLinha  4  11
5ªLinha  5  12

In [76]:
df.loc [['1ªLinha','3ªLinha'],['A','B']]

         A   B
1ªLinha  1   8
3ªLinha  3  10